<form class="filter" method="get">
    Results {% if expiring|default(false) %}expiring in{% else %}from the past{% endif %}
    <select name="days">
        <option value="7"{% if filterDays == '7' %} selected="selected"{% endif %}>one week</option>
        <option value="28"{% if filterDays == '28' %} selected="selected"{% endif %}>four weeks</option>
        <option value="365"{% if filterDays == '365' %} selected="selected"{% endif %}>one year</option>
        <option value="all"{% if filterDays == 'all' %} selected="selected"{% endif %}>all time</option>
    </select>
    <button type="submit">FILTER</button>
</form>