
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
<div class="scheme-logo"><img src="/assets/img/Lantra_Awards.svg"></div>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">My Dashboard</a>
        <li class="nav-item">
            <a class="nav-link" href="/public/passport/{{ currentUser.id }}">My Passport</a>
        </li>
    </ul>

    {% if craft.lantra.canManage() %}
    <ul class="nav nav-pills flex-column">
        {% if currentUser.can('editEntries:3') %}
        <li class="nav-item">
            <a href="#CompanyManagementSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link">Company Management</a>
            <ul class="collapse list-unstyled" id="CompanyManagementSubMenu">
                <li class="nav-item"><a href="/management/companies" class="nav-link">Create / Edit companies</a></li>

            </ul>
        </li>
        {% endif %}
        {% if currentUser.can('editEntries:5') %}
        <li class="nav-item">
            <a href="#TeamManagementSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link">Team Management</a>
            <ul class="collapse list-unstyled" id="TeamManagementSubMenu">
                <li class="nav-item"><a href="/management/teams" class="nav-link">Create / Edit teams</a></li>

            </ul>
        </li>
        {% endif %}
        {% if currentUser.can('editUsers') or currentUser.can('editCategories:1') %}
        <li class="nav-item">
            <a href="#UserManagementSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link">User Management</a>
            <ul class="collapse list-unstyled" id="UserManagementSubMenu">
                {% if currentUser.can('editUsers') %}
                    <li class="nav-item"><a href="/management/users" class="nav-link">Create / Edit users</a></li>
                {% endif %}
                {% if currentUser.can('editCategories:1') %}
                    <li class="nav-item"><a href="/management/roles" class="nav-link">Create / Edit roles</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        {% if currentUser.can('editEntries:6') or currentUser.can('editEntries:7') %}
        <li class="nav-item">
            <a href="#ModuleManagement" data-toggle="collapse" aria-expanded="false" class="nav-link">Module Management</a>
            <ul class="collapse list-unstyled" id="ModuleManagement">
                {% if currentUser.can('editEntries:6') %}
                    <li class="nav-item"><a href="/management/modules" class="nav-link">Assign module job joles</a></li>
                {% endif %}
            </ul>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="#navReporting" data-toggle="collapse" aria-expanded="false" class="nav-link">Reporting</a>
            <ul class="collapse list-unstyled" id="navReporting">
                <li class="nav-item"><a href="/reporting/users" class="nav-link">Users Report</a></li>
                <li class="nav-item"><a href="/reporting/modules-expiring" class="nav-link">Modules Expiring Report</a></li>
                <li class="nav-item"><a href="/reporting/modules-completed" class="nav-link">Modules Completed Report</a></li>
                <li class="nav-item"><a href="/reporting/modules-active" class="nav-link">Modules Active Report</a></li>
                <li class="nav-item"><a href="/reporting/units-blocked" class="nav-link">Units Blocked Report</a></li>
                <li class="nav-item"><a href="/reporting/units-endorsed" class="nav-link">Units Endorsed Report</a></li>
                <li class="nav-item"><a href="/reporting/units-expiring" class="nav-link">Units Expiring Report</a></li>
            </ul>
        </li>
        {% set pendingEntryCount = craft.lantra.managerEndorsementResults(null, null, true) %}
        {% if (pendingEntryCount) %}
            <li class="nav-item">
                <a class="nav-link" href="/management/endorsements">Endorsements ({{ pendingEntryCount }})</a>
            </li>
        {% endif %}
    </ul>
    {% endif %}

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/about">About Lantra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item sign-out">
            <a class="nav-link" href="{{ logoutUrl }}">Sign out</a>
        </li>
    </ul>
</nav>