{% set usersAll = craft.users.group('users, teamManagers, companyManagers, schemeManagers').status(null).total() %}
{% set usersActive = craft.users.group('users, teamManagers, companyManagers, schemeManagers').status('active').total() %}
{% set licencesCompany = craft.lantra.totalCompanyLicences() %}
{% set licencesScheme = globalsScheme.schemeRemainingLicences|default(0) %}
{% set dateFormat = globalsSystem.dateFormat|default('d/m/y') %}
<section id="scheme-profile" class="row section-dashboard">
    <div class="col-8">
        <h2>Scheme Profile</h2>
        <div class="col-6 profile-field">
            <p>Scheme name:</p>
            <p>User licences - Total purchased:</p>
            <p>User licences - Renewal date:</p>
            <p>User licences - Active Users (inc. Scheme Manager):</p>
            <p>User licences - Inactive users:</p>
            <p>User Licences - Total Remaining:</p>
            {#
            <p>User Licences - Available in Scheme:</p>
            <p>User licences - Available in Companies:</p>
            <p>Scheme Licences remaining:</p>
            <p>Total users (inc. Scheme Manager):</p>
            #}
        </div>
        <div class="col-6 profile-data">
            <p>{{ globalsScheme.schemeName|default('unknown') }}</p>
            <p>{{ usersAll + licencesCompany + licencesScheme }}</p>
            <p>{{ globalsScheme.schemeExpiryDate|date(dateFormat) }}</p>
            <p>{{ usersActive }}</p>
            <p>{{ usersAll - usersActive }}</p>
            <p>{{ licencesScheme + licencesCompany }}</p>
            {#
                        <p>{{ licencesScheme }}</p>
            <p>{{ licencesCompany }}</p>
            <p>{{ licencesScheme }}</p>
            <p>{{ usersAll }}</p>
            #}
            
        </div>
    </div>
</section>