{% requirePermission 'editEntries:7' %}

{% extends "_layout" %}
{% import "_macros" as ui %}
{% set metaTitle = "Management > Units" %}

{% set entryId = craft.request.getSegment(4) %}
{% if entryId and entry is not defined %}
    {% set entry = craft.entries.id(entryId).first %}
{% endif %}

{% block content %}

<div class="page-header">
    {% if entry is defined and entry.id %}
        <h2>Edit unit</h2>
    {% else %}
        <h2>Create a new unit</h2>
    {% endif %}
</div>

{% if entry is defined %}
    {{ ui.errorList(entry.getAllErrors()) }}
{% endif %}

<form method="post" role="form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="entries/saveEntry">
    <input type="hidden" name="redirect" value="management/units">
    <input type="hidden" name="sectionId" value="7">
    <input type="hidden" name="enabled" value="1">
    <input type="hidden" name="entryId" value="{{ entry.id|default('') }}">
    <div class="form-group-lantra float-label-control">
        <label for="title">Unit title:</label>
        <input id="title" name="title" class="5000" placeholder="Enter the unit title" value="{{ entry.title|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="unitDescription">Unit description:</label>
        <textarea id="unitDescription" name="fields[unitDescription]" placeholder="Enter the unit description">{{ entry.unitDescription|default('') }}</textarea>
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="unitType">Unit type:</label>
        <select name="fields[unitType]" data-value="{{ entry.unitType|default('elearning') }}" id="unitType" >
            <option value="elearning">eLearning</option>
            <option value="evidence">Evidence</option>
        </select>
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="unitUrl">Unit URL:</label>
        <input id="unitUrl" name="fields[unitUrl]" class="5000" placeholder="Enter the unit url" value="{{ entry.unitUrl|default('') }}">
    </div>
    <br />
    <div class="freetext-procedure"><button type="submit">Save unit</button></div>
</form>
{% endblock %}
