{% requirePermission 'editEntries:7' %}

{% extends "_layout" %}

{% set metaTitle = "Management > Units" %}

{% block content %}

<section class="list">
    <h2>Units</h2>
    {% set units = craft.entries.section('units').get() %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for unit in units %}
            <tr class="item">
                <th>{{ unit.id }}</th>
                <th>{{ unit.title }}</th>
                <th>
                    <a href="/management/units/edit/{{ unit.id }}">edit</a> |
                    <a class="action" href="#" data-action="entries/deleteEntry" data-id="{{ unit.id }}">delete</a>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div class="freetext-procedure"><a href="/management/units/new">Create unit</a></div>

{% endblock %}
