<h2>Administrator tools</h2>
<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-company-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Company Management</h4>
        <div class="text-muted">Edit and create companies</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-team-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Team Management</h4>
        <div class="text-muted">Edit and create teams</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-user-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>User Management</h4>
        <div class="text-muted">Edit and create users</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
    </div>
</section>

<section class="row text-center placeholders">
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-job-role-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Job Role Management</h4>
        <div class="text-muted">Edit and create Job Roles</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-skills-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Skills Management</h4>
        <div class="text-muted">Edit and create skills</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-qualification-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>Qualifications Management</h4>
        <div class="text-muted">Edit and create qualifications</div>
    </div>
    <div class="col-6 col-sm-3 placeholder">
        <img src="/assets/img/img-learning-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
        <h4>E-Learning Management</h4>
        <div class="text-muted">Edit and create E-Learning courses</div>
    </div>
</section>