{% if currentUser.userRole.total %}
    <section id="my-skills-quals" class="section-dashboard">
        <h2>My CPD</h2>
        {% for role in currentUser.userRole %}
            <h2>Job Role: {{ role.title }}</h2>
            {% set modules = craft.entries.relatedTo(role).order('title') %}
            {% if not modules|length %}
                <p>No modules have been assigned yet for this role.</p>
            {% else %}
                <ul class="nav nav-pills">
                {% for module in modules %}
                    <li class="{% if loop.index == 1 %}active{% endif %}"><a  href="#t{{ loop.index }}" data-toggle="tab">{{ module.title }}</a></li>
                {% endfor %}
                </ul>
                <div id="exTab">
                    <div class="tab-content clearfix">
                    {% for module in modules %}
                        {% set totalPoints = 0 %}
                        <div class="tab-pane{% if loop.index == 1 %} active{% endif %}" id="t{{ loop.index }}">
                            <div class="tab-pane-sub-title"><h4>{{ module.title }}</h4></div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="12"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for unitGroup in module.moduleUnitGroups %}
                                        {% set unitGroupEntries = unitGroup.unitEntries %}
                                        <tr data-toggle="collapse" data-target="#u{{ unitGroup.id }}" class="accordion-toggle">
                                            <td colspan="12" class="accordion-toggle">
                                                <div class="accordion-title"><p>{{ unitGroup.groupName }}</p></div>
                                                <div class="accordion-icon">
                                                    <div class="accordion-title">View status and Endorsements</div>
                                                    <img src="/assets/img/img-arrow-down.jpg">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="u{{ unitGroup.id }}" class="">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                                <tr>
                                                                    <th style="width: 30%">Unit title</th>
                                                                    <th>Type</th>
                                                                    <th>Value</th>
                                                                    <th>Status</th>
                                                                    <th>Date endorsed</th>
                                                                    <th>Comments</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for unitEntry in unitGroupEntries %}
                                                                <tr>
                                                                    <td><a href="unit/{{ unitEntry.id }}" data-toggle="tooltip" title="{{ unitEntry.unitDescription }}">{{ unitEntry.title }}</a></td>
                                                                    <td>{{ unitEntry.unitType == 'evidence' ? 'Evidence' : 'E-Learning' }}</td>
                                                                    <td>{{ unitEntry.unitValue }}</td>
                                                                    {% set resultEntry = craft.entries.section('results').authorId(currentUser.id).relatedTo(unitEntry).first() %}
                                                                    {% if resultEntry %}
                                                                    {% if (resultEntry.resultStatus == 'endorsed') %}
                                                                        {% set totalPoints = totalPoints + unitEntry.unitValue %}
                                                                    {% endif %}
                                                                        <td>
                                                                            {{ resultEntry.resultStatus|ucwords }}
                                                                        </td>
                                                                        <td>{% if resultEntry.resultEndorsedDate %}{{ resultEntry.resultEndorsedDate|date('d/m/y') }}{% endif %}</td>
                                                                        <td>{{ resultEntry.resultComments }}</td>
                                                                    {% else %}
                                                                        <td>Incomplete</td>
                                                                        <td>-</td>
                                                                        <td>-</td>
                                                                    {% endif %}
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane-sub-title">
                                <h4>
                                    Module Points: {{ totalPoints }}/{{ module.moduleCompletedValue }}
                                {% set moduleResultEntry = craft.entries.section('results').type('moduleResult').author(currentUser.id).relatedTo(module).first() %}
                                {% if moduleResultEntry %}
                                    Completed: {{ moduleResultEntry.postDate|date('d/m/y') }}
                                    {% if moduleResultEntry.expiryDate %}
                                        Expires: {{ moduleResultEntry.expiryDate|date('d/m/y') }}
                                    {% endif %}
                                {% endif %}
                                </h4>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endif %}