{% if currentUser.userRole.total %}
    <section id="my-skills-quals" class="section-dashboard">
        <h2>My CPD</h2>
        {% for role in currentUser.userRole %}
            <h2>Job Role: {{ role.title }}</h2>
            {% set modules = craft.entries.relatedTo(role) %}
            {% if not modules|length %}
                <p>No modules have been assigned yet for this role.</p>
            {% else %}
                <ul class="nav nav-pills">
                {% for module in modules %}
                    <li class="{% if loop.index == 1 %}active{% endif %}"><a  href="#t{{ loop.index }}" data-toggle="tab">Module {{ loop.index }}</a></li>
                {% endfor %}
                </ul>
                <div id="exTab">
                    <div class="tab-content clearfix">
                    {% for module in modules %}
                        <div class="tab-pane active" id="t{{ loop.index }}">
                            <div class="tab-pane-sub-title"><h4>{{ module.title }}</h4></div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="12"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for unitGroup in module.moduleUnitGroups %}
                                        {% set unitGroupEntries = unitGroup.unitEntries %}
                                        <tr data-toggle="collapse" data-target="#u{{ unitGroup.id }}" class="accordion-toggle">
                                            <td colspan="12" class="accordion-toggle">
                                                <div class="accordion-title"><p>{{ unitGroup.groupName }}</p></div>
                                                <div class="accordion-icon">
                                                    <div class="accordion-title">View status and Endorsements</div>
                                                    <img src="/assets/img/img-arrow-down.jpg">
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div id="u{{ unitGroup.id }}" class="collapse">
                                                    <div class="table-responsive">
                                                        <table class="table table-striped">
                                                            <thead>
                                                            <tr>
                                                                <th style="width: 30%">Unit title</th>
                                                                <th>Source</th>
                                                                <th>Unit value</th>
                                                                <th>Endorsed status</th>
                                                                <th>Date endorsed</th>
                                                                <th>PDP</th>
                                                                <th>Comments</th>
                                                                <th>Upload a file</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for unitEntry in unitGroupEntries %}
                                                                <tr>
                                                                    <td><a class="test" href="#" data-toggle="tooltip" title="{{ unitEntry.unitDescription }}">{{ unitEntry.title }}</a></td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                    <td>-</td>
                                                                </tr>
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endif %}