<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/">My Dashboard</a>
        <li class="nav-item">
            <a class="nav-link" href="/users/{{ currentUser.id }}">My webpage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users/cv/{{ currentUser.id }}">CV Builder</a>
        </li>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a href="#CompanyManagementSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link">Company Management</a>
            <ul class="collapse list-unstyled" id="CompanyManagementSubMenu">
                <li class="nav-item"><a href="/management/companies" class="nav-link">Create / Edit companies</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a href="#TeamManagementSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link">Team Management</a>
            <ul class="collapse list-unstyled" id="TeamManagementSubMenu">
                <li class="nav-item"><a href="/management/teams" class="nav-link">Create / Edit teams</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a href="#UserManagementSubMenu" data-toggle="collapse" aria-expanded="false" class="nav-link">User Management</a>
            <ul class="collapse list-unstyled" id="UserManagementSubMenu">
                <li class="nav-item"><a href="/management/users" class="nav-link">Create / Edit users</a></li>
                <li class="nav-item"><a href="/management/roles" class="nav-link">Create / Edit roles</a></li>

            </ul>
        </li>
        <li class="nav-item">
            <a href="#LearningManagement" data-toggle="collapse" aria-expanded="false" class="nav-link">Learning Management</a>
            <ul class="collapse list-unstyled" id="LearningManagement">
                <li class="nav-item"><a href="/management/modules" class="nav-link">Create / Edit modules</a></li>
                <li class="nav-item"><a href="/management/units" class="nav-link">Create / Edit units</a></li>
            </ul>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reporting">Reporting</a>
        </li>
    </ul>

    <ul class="nav nav-pills flex-column">
        <li class="nav-item">
            <a class="nav-link" href="/about">About Lantra</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/contact">Contact us</a>
        </li>
    </ul>
    <ul class="nav nav-pills flex-column">
        <li class="nav-item sign-out">
            <a class="nav-link" href="{{ logoutUrl }}">Sign out</a>
        </li>
    </ul>
</nav>