{% set currentUserCompany = craft.lantra.userCompany() %}
<section id="my-profile" class="row section-dashboard">
    <div class="col-6">
        <h2>My Profile</h2>
        <div class="col-6 profile-field">
            <p>Email address:</p>
            <p>User ID:</p>
            <p>User type:</p>
            <p>First name:</p>
            <p>Last name:</p>
            <p>Company:</p>
            <p>Team:</p>
            <p>Job Role(s):</p>
        </div>
        <div class="col-6 profile-data">
            <p>{{ currentUser.email }}</p>
            <p>{{ currentUser.id }}</p>
            <p>{{ craft.lantra.userType() }}</p>
            <p>{{ currentUser.firstName }}</p>
            <p>{{ currentUser.lastName }}</p>
            <p>{{ currentUserCompany|default('~') }}</p>
            <p>{{ currentUser.userTeam.first.teamName|default('~') }}</p>
            <p>{% if currentUser.userRole.total %}
                    {% for role in currentUser.userRole %}{{ role.title }}{% if loop.index != loop.length %}, {% endif %}{% endfor %}
                {% else %}
                    ~
                {% endif %}
            </p>
        </div>

    </div>
    <div class="col-6">
        <h2>My Passport status</h2>
    </div>
</section>