{% requirePermission 'editUsers' %}

{% extends "_layout" %}
{% import "_macros" as ui %}
{% set metaTitle = "Management > Users" %}

{% set userId = craft.request.getSegment(4) %}
{% if account is not defined and userId %}
    {% set account = craft.users.id(userId).first %}
    {% if not account %}{% exit 404 %}{% endif %}
{% endif %}

{% block content %}

<div class="page-header">
{% if account is defined and account.id %}
    <h2>Edit user</h2>
{% else %}
    <h2>Create a new user</h2>
{% endif %}
</div>

{% if account is defined %}
    {{ ui.errorList(account.getAllErrors()) }}
{% endif %}

<form method="post" role="form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="lantra/users/saveUser">
    <input type="hidden" name="editUserId" value="{{ account.id|default('') }}">
    {% if user.isInGroup('companyManagers') %}
    <div class="form-group-lantra float-label-control">
        <label for="teamManagers">Roles:</label>
            <ul>
                <li>
                    <strong>Team manager:</strong>
                    <input type="checkbox" id="teamManagers" name="teamManagers" value="1" {% if account is defined and account.isInGroup('teamManagers') or craft.request.getPost('teamManagers') %}checked="checked"{% endif %}>
                </li>
                <li>
                    <strong>Company manager:</strong>
                    <input type="checkbox" id="companyManagers" name="companyManagers" value="1" {% if account is defined and account.isInGroup('companyManagers') or craft.request.getPost('companyManagers') %}checked="checked"{% endif %}>
                </li>
            </ul>
        </div>
    {% endif %}
    <div class="form-group-lantra float-label-control">
        <label for="firstName">First name:</label>
        <input id="firstName" name="firstName" class="5000" placeholder="Enter the first name" value="{{ account.firstName|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="lastName">Last name:</label>
        <input id="lastName" name="lastName" class="5000" placeholder="Enter the last name" value="{{ account.lastName|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="email">Email:</label>
        <input id="email" name="email" class="5000" placeholder="Enter the email" value="{{ account.email|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="telephone">Telephone:</label>
        <input id="telephone" name="fields[telephone]" class="5000" placeholder="Enter the telephone" value="">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="licence">PIL Licence number:</label>
        <input id="licence" name="fields[licence]" type="text" class="5000" placeholder="PIL Licence number" value="">
    </div>
    {% if user.isInGroup('companyManagers') %}
        {% set teamEntries = craft.lantra.managerTeams(null, true) %}
    {% elseif user.isInGroup('teamManagers') %}
        {% set teamEntries = craft.lantra.managerTeams() %}
    {% else %}
        {% set teamEntries = craft.entries.section('teams') %}
    {% endif %}
    <div class="form-group-lantra float-label-control">
        <label for="userTeam">User team:</label>
        <select data-relation="fields[userTeam]" data-value="{{ account.userTeam.first().id|default('') }}" id="userTeam" >
            <option value="">~ none selected ~</option>
            {% for teamEntry in teamEntries %}
                <option value="{{ teamEntry.id }}">{{ teamEntry.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="userRole">User roles:</label>
        {% set roleCategories = craft.categories.group('roles') %}
        <input type="hidden" name="fields[userRole]" value="" />
        <select multiple name="fields[userRole][]" id="userRole">
            {% for roleCategory in roleCategories %}
            <option value="{{ roleCategory.id }}"
                    {% if account is defined and roleCategory.id in account.userRole.ids() %} selected="selected{% endif %}">{{ roleCategory.title() }}</option>
            {% endfor %}
        </select>
    </div>
    <br />
    <div class="freetext-procedure"><button type="submit">Save user</button></div>
</form>

{% endblock %}
