{% if currentUser.isInGroup('companyManagers') %}
    {% set companies = craft.entries.section('companies').relatedTo(currentUser) %}
    {% set teams = craft.entries.section('teams').relatedTo(companies) %}
    {% set users = craft.users.group('users, teamManagers').relatedTo(teams).id('not ' ~ currentUser.id) %}
{% elseif currentUser.isInGroup('teamManagers') %}
    {% set teams = craft.entries.section('teams').relatedTo(currentUser) %}
    {% set users = craft.users.group('users, teamManagers').relatedTo(teams).id('not ' ~ currentUser.id) %}
{% else %}
    {% set users = craft.users.group('users, teamManagers, companyManagers') %}
{% endif %}

{% requirePermission 'editUsers' %}

{% extends "_layout" %}

{% set metaTitle = "Management > Users" %}

{% block content %}

<section class="list">
    <h2>Users</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Team</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
            {% set team = user.userTeam.first() %}
            <tr class="item">
                <th>{{ user.id }}</th>
                <th>{{ user.fullname }}</th>
                <th>{{ team.title|default('') }}</th>
                <th>
                    <a href="/management/users/edit/{{ user.id }}">edit</a> |
                    <a class="action" href="#" data-action="lantra/users/deleteUser" data-id="{{ user.id }}">delete</a>
                </th>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div class="freetext-procedure"><a href="/management/users/new">Create user</a></div>

{% endblock %}
