{% requirePermission 'editUsers' %}

{% extends "_layout" %}

{% set metaTitle = "Management > Users" %}
{% set dateFormat = globalsSystem.dateFormat|default('d/m/y') %}
{% set pageLimit = globalsSystem.defaultLimit|default(10) %}

{% set excludeIds = ['and'] %}
{% set excludeIds = excludeIds|merge([currentUser.id]) %}
{% set individualIds = craft.users.group('individuals').ids() %}
{% if individualIds %}{% set excludeIds = excludeIds|merge(individualIds) %}{% endif %}
{% set excludeIdsString = excludeIds|join(', not ') %}

{% if currentUser.isInGroup('companyManagers') %}
    {% set companies = craft.entries.section('companies').relatedTo(currentUser) %}
    {% set teams = craft.entries.section('teams').relatedTo(companies) %}
    {% set criteria = craft.users.group('users, teamManagers').relatedTo(teams).id(excludeIdsString) %}
{% elseif currentUser.isInGroup('teamManagers') %}
    {% set teams = craft.entries.section('teams').relatedTo(currentUser) %}
    {% set criteria = craft.users.group('users, teamManagers').relatedTo(teams).id(excludeIdsString).limit(pageLimit) %}
{% else %}
    {% set criteria = craft.users.group('users, teamManagers, companyManagers, schemeManagers').id(excludeIdsString).limit(pageLimit) %}
{% endif %}

{% if criteria%}{% paginate criteria as pageInfo, userEntries %}{% endif %}

{% block content %}
<section class="list">
    <div class="page-header">
        <h2>Users</h2>
    </div>
    {% if userEntries is defined and userEntries|length %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Team</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for user in userEntries %}
                {% set team = user.userTeam.first() %}
                <tr class="item">
                    <th>{{ user.id }}</th>
                    <th>{{ user.fullname }}</th>
                    <th>{{ team.title|default('') }}</th>
                    <th>
                        <a href="/management/users/edit/{{ user.id }}">edit</a> |
                        <a class="action" href="#" data-action="lantra/users/deleteUser" data-id="{{ user.id }}">delete</a>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include '_includes/pagelinks' with {pageInfo:pageInfo} %}
        {% if craft.lantra.canAddUser() %}
            <div class="freetext-procedure"><a href="/management/users/new">Create user</a></div>
        {% endif %}
    {% else %}
        <h4>There are no users to display.</h4>
    {% endif %}
</section>
{% endblock %}
