<form method="post" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/sendPasswordResetEmail">
    <input type="hidden" name="redirect" value="">
    {% if errors is defined %}
        {{ ui.errorList(errors) }}
    {% endif %}
    <h3><label for="loginName">Email</label></h3>
    <input id="loginName" type="text" name="loginName" value="{% if loginName is defined %}{{ loginName }}{% else %}{{ craft.session.rememberedUsername }}{% endif %}">
    <input type="submit" value="Submit">
</form>