###########
##### CRAFT
###########

# The application ID used to to uniquely store session and cache data, mutex locks, and more
CRAFT_APP_ID=

# The environment Craft is currently running in ('dev', 'uat' 'staging', 'live', etc.)
# note: you shouldn't need to change this, as you can change the System Settings at the bottom of this file
CRAFT_ENVIRONMENT="dev"

# The secure key Craft will use for hashing and encrypting data
CRAFT_SECURITY_KEY=""

# The URL of the site
SITE_URL=""

# The name of the system/site
SYSTEM_NAME="SYSTEM_NAME"



########
##### DB
########

CRAFT_DB_DRIVER="mysql"

CRAFT_DB_SERVER="localhost"

CRAFT_DB_USER=root

CRAFT_DB_PASSWORD=""

CRAFT_DB_DATABASE=""

CRAFT_DB_SCHEMA=""

CRAFT_DB_TABLE_PREFIX=""

CRAFT_DB_PORT=3306



###########
##### SERVD
###########

SERVD_PROJECT_SLUG=

SERVD_SECURITY_KEY=



#####################
##### SYSTEM SETTINGS
#####################

# Whether or not the environment is in devmode.
# By default this is true for dev, false for staging and production
# DEV_MODE=false

# Whether or not we should allow changes to the project.yaml
# This should ALMOST NEVER be true on staging or production environments!!!!!!
# ... but sometimes a project-config/sync requires this to temporarily be set to true.
# Leave commented out for default.
# ALLOW_ADMIN_CHANGES=false

# Whether or not we should allow changes to the project.yaml
# This should ALMOST NEVER be true on staging or production environments!!!!!!
# ... but sometimes a project-config/sync requires this to temporarily be set to true.
# Leave commented out for default.
# ALLOW_UPDATES=false

# Whether or not the website is "on".
# If false, all pages will return a 503, and only Admins will be able to access the admin.
# Leave commented out for default true.
# SYSTEM_ON=true

# Which cache busting method should be used on assets.
# "filename" would change main.css into, for example, main.202006241141.css
# "querystring" would change main.css into, for example, main.css?v=202006241141 (Best for local)
# "servd" would use the injected 'SERVD_BUNDLE_HASH' variable on bundle sync main.css?v={{getenv('SERVD_BUNDLE_HASH')}} (Best for Servd)
# CACHE_BUSTING_METHOD="filename"


# Whether Craft should run pending queue jobs automatically when someone visits the control panel.
# If disabled, an alternate queue worker must be set up separately, either as an always-running daemon, or a cron job
RUN_QUEUE_AUTOMATICALLY=true
