{% requirePermission 'editEntries:6' %}

{% extends "_layout" %}
{% import "_macros" as ui %}
{% set metaTitle = "Management > Modules" %}

{% set entryId = craft.request.getSegment(4) %}
    {% if entryId and entry is not defined %}
    {% set entry = craft.entries.id(entryId).first %}
{% endif %}

{% block content %}

<div class="page-header">
    {% if entry is defined and entry.id %}
    <h2>Edit module</h2>
    {% else %}
    <h2>Create a new module</h2>
    {% endif %}
</div>

{% if entry is defined %}
    {{ ui.errorList(entry.getAllErrors()) }}
{% endif %}

<form method="post" role="form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="entries/saveEntry">
    <input type="hidden" name="redirect" value="management/modules">
    <input type="hidden" name="sectionId" value="6">
    <input type="hidden" name="enabled" value="1">
    <input type="hidden" name="entryId" value="{{ entry.id|default('') }}">
    <div class="form-group-lantra float-label-control">
        <label for="title">Module title:</label>
        <input id="title" name="title" class="5000" placeholder="Enter the module title" value="{{ entry.title|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="description">Module description:</label>
        <textarea id="description" name="fields[moduleDescription]" placeholder="Enter the module description">{{ entry.moduleDescription|default('') }}</textarea>
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="moduleRoles">Module roles:</label>
        {% set roleCategories = craft.categories.group('roles') %}
        <input type="hidden" name="fields[moduleRoles]" value="" />
        <select multiple name="fields[moduleRoles][]" id="moduleRoles">
            {% for roleCategory in roleCategories %}
            <option value="{{ roleCategory.id }}"
                    {% if entry is defined and roleCategory.id in entry.moduleRoles.ids() %} selected="selected{% endif %}">{{ roleCategory.title() }}</option>
            {% endfor %}
        </select>
    </div>
    <br />
    <div class="freetext-procedure"><button type="submit">Save module</button></div>
</form>

{% endblock %}
