{% extends "_layout" %}

{% if entry is not defined %}
    {% set entry = craft.entries.id(craft.request.getSegment(2)).first() %}
{% endif %}

{% set resultEntry = craft.entries.section('results').authorId(currentUser.id).relatedTo(entry).first() %}
{% set remainingAttempts = craft.lantra.remainingAttempts(entry, resultEntry) %}

{% set metaTitle = "Unit " ~ entry.id %}
{% set dateFormat = globalsSystem.dateFormat|default('d/m/y') %}

{% block content %}

<section class="list">
    <h1>Unit {{ entry.id}}</h1>
    <h3>{{ entry.title }}</h3>
    {% if entry.unitType == 'evidence' %}
        <p>[[ UNIT CONTENT ]]</p>
        {% if resultEntry|length %}
            <p>You submitted evidence for this unit on {{ resultEntry.postDate(dateFormat) }}.</p>
            <p>Your result status is {{ resultEntry.resultStatus }}.</p>
        {% else %}
            {% include 'unit/_evidence' with{entry:entry} %}
        {% endif %}
    {% else %}
        {% if resultEntry|length %}
            <p>You have made {{ resultEntry.resultAttempts|length }} attempts and you have {{ remainingAttempts }} attempts remaining.</p>
        {% endif %}
        {% if not remainingAttempts %}
            <p>You have no remaining attempts, contact support.</p>
        {% elseif craft.request.getSegment(3) == 'test' %}
           {% include 'unit/_test' with{entry:entry} %}
        {% else %}
            <p>[[ UNIT CONTENT ]]</p>
            <p><a href="/unit/{{ entry.id }}/test">Complete unit test</a></p>
         {% endif %}
    {% endif %}
</section>
{% endblock %}
