{% extends "_layout" %}
{% import "_macros" as ui %}
{% if entry is not defined %}
    {% set entry = craft.entries.id(craft.request.getSegment(2)).first() %}
{% endif %}
{% set resultEntry = craft.entries.section('results').authorId(currentUser.id).relatedTo(entry).first() %}
{% set metaTitle = "Unit " ~ entry.id %}

{% block content %}

<section class="list">
    <h2>Unit {{ entry.id }}</h2>
    {% if craft.request.getSegment(3) == 'saved' %}
        <p>RESULT SAVED</p>
    {% endif %}

    {% if resultEntry|length %}
        <p>YOU HAVE MADE {{ resultEntry.resultAttempts|length }} ATTEMPTS</p>
    {% endif %}

    {% if craft.request.getSegment(3) == 'test' %}

        {% if entry is defined %}
        {{ ui.errorList(entry.getAllErrors()) }}
        {% endif %}

        <form method="post" role="form" accept-charset="UTF-8">
            {{ getCsrfInput() }}
            <input type="hidden" name="action" value="entries/saveEntry">
            <input type="hidden" name="redirect" value="unit/{{ entry.id }}/saved">
            <input type="hidden" name="sectionId" value="12">
            <input type="hidden" name="enabled" value="1">
            <input type="hidden" name="fields[attemptUnit][]" value="{{ entry.id }}">
            {% for question in entry.testQuestions %}
            {% set questionNumber = loop.index  %}
            {% set questionId = 'new_' ~ (questionNumber - 1)  %}
            <div class="form-group-lantra float-label-control">
                <label for="question_{{ loop.index }}"><em>{{ questionNumber }} {{ question.question }}</em></label>
                <input type="hidden" name="fields[attemptAnswers][{{ questionId }}][type]" value="answer">
                <input type="hidden" name="fields[attemptAnswers][{{ questionId }}][enabled]" value="1">
                <input type="hidden" name="fields[attemptAnswers][{{ questionId }}][fields][questionId]" value="{{ question.id }}">
                {% if question.type == "trueFalse" %}
                <ul class="choices">
                    <li>TRUE<input type="radio" name="fields[attemptAnswers][{{ questionId }}][fields][answer]" value="true"></li>
                    <li>FALSE<input type="radio" name="fields[attemptAnswers][{{ questionId }}][fields][answer]" value="false"></li>
                </ul>
                {% elseif question.type == "choices" %}
                <ul>
                    {% for choice in question.answers %}
                    <li>{{ choice.answer }}<input type="radio" name="fields[attemptAnswers][{{ questionId }}][fields][answer]" value="{{ choice.answer }}"></li>
                    {% endfor %}
                </ul>
                {% else %}
                <textarea id="question_{{ loop.index }}" name="fields[attemptAnswers][{{ questionId }}][fields][answer]"></textarea>
                {% endif %}
            </div>
            {% endfor %}
            <br />
            <div class="freetext-procedure"><button type="submit">Submit Answers</button></div>
        </form>

    {% else %}
        <p>UNIT CONTENT</p>
        {% if entry.unitType == 'evidence' %}

            {% if entry is defined %}
            {{ ui.errorList(entry.getAllErrors()) }}
            {% endif %}

            <form method="post" role="form" accept-charset="UTF-8" enctype="multipart/form-data">
                {{ getCsrfInput() }}
                <input type="hidden" name="action" value="entries/saveEntry">
                <input type="hidden" name="redirect" value="unit/{{ entry.id }}/saved">
                <input type="hidden" name="typeId" value="10">
                <input type="hidden" name="sectionId" value="10">
                <input type="hidden" name="enabled" value="1">
                <input type="hidden" name="fields[resultUnit][]" value="{{ entry.id }}">
                <div class="form-group-lantra">
                    <input type="file" name="fields[resultEvidence][]" multiple>
                </div>
                <div class="freetext-procedure">
                    <button type="submit">Submit Evidence</button>
                </div>
            </form>

        {% else %}
            <p><a href="/unit/{{ entry.id }}/test">Complete Test</a></p>
        {% endif %}
    {% endif %}
</section>
{% endblock %}
