{% import "_macros" as ui %}
<form method="post" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="users/saveUser">
    <input type="hidden" name="redirect" value="/">
    <input type="hidden" name="username" value="">

    {% if account is defined %}
        {{ ui.errorList(account.getAllErrors()) }}
    {% endif %}

    <h3><label for="firstName">First Name</label></h3>
    <input id="firstName" type="text" name="firstName" {%- if account is defined %} value="{{ account.firstName }}"{% endif %}>

    <h3><label for="lastName">Last Name</label></h3>
    <input id="lastName" type="text" name="lastName" {%- if account is defined %} value="{{ account.lastName }}"{% endif %}>

    <h3><label for="email">Email</label></h3>
    <input id="email" type="text" name="email" {%- if account is defined %} value="{{ account.email }}"{% endif %}>

    <h3><label for="password">Password</label></h3>
    <input id="password" type="password" name="password">
    <input type="submit" value="Register">
</form>
