{% set userId = craft.request.segment(3) %}
{% set resultId = craft.request.segment(4) %}
{% set moduleResultEntry = craft.entries.section('results').type('moduleResult').authorId(userId).resultStatus('complete').id(resultId).first %}
{% if not moduleResultEntry %}{% exit 404 %}{% endif %}

{% set dateFormat = globalsSystem.dateFormat|default('d/m/y') %}

{% set vars = {
    moduleTitle: moduleResultEntry.resultModule.first.title,
    resultDate: moduleResultEntry.postDate|date(dateFormat),
    resultUserFullName: moduleResultEntry.author.fullName,
} %}
{% set settings = {
    orientation:'portrait',
    filename:userId ~ '-' ~ resultId,
} %}
{{ craft.printmaker.pdfFromTemplate('_includes/certificate', vars, settings).download }}
