/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
html, body {
  height: 100%;
}
#alerts {display: none !important;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background-color: #F7F7Fa;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hide {
    display: none !important;
}

.show {
    visibility: initial;;
}

.right {
    float: right;
}

.border-btm {border-bottom: 2px #e8ecef solid;}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
button,
input,
select,
optgroup,
textarea,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1c2b39; /*Lantra default color on text*/
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    line-height: 1.7;

}

h1 {
    font-size: 42px;
    font-weight: 300;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.3;
    margin:0 0 30px 0;
}

h3, h5 {
    font-weight: 600;
}

h4, h4 a {
    font-size: 22px !important;
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Layout and Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-main,
.container-flex {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
flex-direction: column;
    min-height: 100vh;
    background: #FFF;
    transition: all .3s ease-out;
    box-shadow: 5px 10px 18px #888888;
}
.container-sidebar-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.sidebar {
    transition: all .3s ease-out;
    position: sticky;
    top: 0;
}
.sidebar-sticky {
    position: sticky;
    top: 0;   
}
.page {
    flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.footer {
    padding: 100px 0px 20px 60px;
    flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}
.col-copyright {
    padding-right: 20px;
    display: inline-block;
}
.col-copyright p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 120px;
}
.col-copyright img {
    width: 90px;
}
.col-terms {
    display: inline-block;
}
.col-terms p {
    font-size: 12px;
    padding-top: 19px;
    margin: 0;
}
.sidebar.is-collapsed {
    flex: 0 0 0;
  -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
        flex: initial;
}
.btn-toggle-small {
    position: sticky;
    top: 0;
}
.btn-arrow {
    float: left;
}
.btn-txt h6 {
    font-size: 9px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 2px 19px;
}
.is-hidden {
    display: none;
}
.is-visible {
    display: initial;
}
body.logged-in header, body.logged-in .page-subHeader {
    position: sticky;
    width:100%;
    z-index:101;
}
body.logged-in .page-header {
    position: sticky;
    z-index:101;
}
.btn-toggle-small {
    display: none;
    background-color: #F7F7Fa;
    border: 0;
    padding: 7px 11px 5px 10px;
    margin: 0;
    font-size: 12px;
    text-align: left;
    color: #333;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    cursor: pointer;
    z-index: 101;
}
body.logged-in .btn-toggle-small {
    display: initial;
}
.btn-toggle-small i {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.btn-right {
  transform: rotate(-45deg) !important;
  -webkit-transform: rotate(-45deg) !important;
}

@media (min-width: 950px) {
  .container-flex {
    flex-direction: row;
    flex: 1;
  }
  .content {
    flex: 1;
    transition: all .3s ease-out;
  }
  .sidebar {
    /* 33.333% is the width of the sidebar */
    flex: 0 0 33.333%;
    transition: all .3s ease-out;
  }

  body.logged-in .sidebar {
    /* 25% is the width of the sidebar when logged in */
    flex: 0 0 20%;
    transition: all .3s ease-out;
  }
  body.logged-in .sidebar.is-collapsed {
    flex: 0 0 0;
    transition: all .3s ease-out;
  }
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    vertical-align: top;
}
.col-1 {
    max-width: 8.333333%;
    display: inline-block;
}
.col-2 {
    max-width: 16.666666%;
    display: inline-block;
    padding: 0 10px;
}
.col-3 {
    width: 24.4444%;
    display: inline-block;
}
.col-4 {
    max-width: 33.333333%;
    display: inline-block;
}
.col-5 {
    max-width: 41.666667%;
    display: inline-block;
}
.col-6 {
    width: 49.777%;
    display: inline-block;
}
.col-7 {
    max-width: 58.333333%;
    display: inline-block;
}
.col-8 {
    max-width: 66.666667%;
    display: inline-block;
}
.col-9 {
    width: 74.4444%;
    display: inline-block;
}
.col-10 {
    max-width: 83.333333%;
    display: inline-block;
}
.col-11 {
    max-width: 91.666667%;
    display: inline-block;
}
.col-12 {
    max-width: 100%;
}

.col-pd-top {
    padding-top: 40px;
}

.col-pd-btm {
    padding-bottom: 40px;
}

.col-bd-btm {
    border-bottom: 2px #e8ecef solid;
}

.col-flex {
    display: flex;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

.log-in-fields {
    padding-top: 60px;
}

.underline {
    border-bottom: 2px #e8ecef solid;
    padding: 5px 0px;
    margin-bottom: 10px;
}

.align-horizontal {
  display: inline-block;
  padding-right: 20px;
}

.align-vertical {
    display: flex;
    align-items: center;
}

.datepickers-container {
    position: absolute;
    left: 200px !important;
    top: 150px !important;
}

.-top-center- .datepicker--pointer, .-top-left- .datepicker--pointer, .-top-right- .datepicker--pointer {
    top: calc(50%) !important;
    left: -6px !important;
    -webkit-transform: rotate(225deg) !important;
    transform: rotate(225deg) !important;
}

.content-col img {
    width: 100vw;
    max-width: 760px;
}

/*Navigation
-------------------------------------------------- */
.menu-tab {
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.page-subHeader {
    min-height: 25px;
}

.page-subHeader p, .page-subHeader a {
    color: #fff;
    text-decoration: none;
}

.primary-bg.menu-tab {
    background-color:transparent;
}

.menu-tab div {
    width: 30px;
    height: 3px;
    display: block;
    margin: 6px auto;
    transition: all .3s ease-in-out;
}

.menu-tab div:nth-child(1) {
    margin-top: 25px;
}

.menu-tab.active {
    left: 33.333%;
    transition: all .3s ease-in-out;
}

.menu-tab.active .one {
    transform: translateY(9px) rotate(-135deg);
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
}

.menu-tab.active .two {
    opacity: 0;
    transition: .3s ease;
}

.menu-tab.active .three {
    transform: translateY(-9px) rotate(-45deg);
    background-color: #FFFFFF;
    transition: all .3s ease-in-out;
}
.menu-intro {
    padding: 60px 60px 0 60px;
}
.menu-intro h1 {
    color: #FFFFFF;
    padding-bottom: 40px;
}
.menu-intro p {
    color: #FFFFFF;
}
.menu-hide {
    width: 33.333%;
    left: -33.333%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all .3s ease-in-out;
}
.menu-hide .container-menus {
    padding: 60px 50px;
    height: 400px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
.menu-hide div.container-btn {
    width: 100%;
    max-width:100%;
}
.menu-hide a.button {
    height: 70px;
    line-height: 70px;
    text-align: center;
    transition: all .3s ease;
    border: #FFFFFF solid 2px;
}

.menu-hide nav a.button {
    margin-bottom: 30px;
    width:100%;
}

.menu-hide.show {
    left: 0px;
}

.menu-hide .sml-link p {
    color: #FFFFFF;
}

.sml-link.reset:hover {
    cursor: pointer;
}

#login-combined form h1 {
    margin:0 0 60px 0;
}

#login-combined form#form-password {
    display:none;
}

#login-combined form#form-password p {
    padding-bottom:40px;
}

.content-top {
        min-height: 250px;
    padding: 60px;
}

.content-top h1 {
    padding: 0;
    margin: 0;
    color: #fff;
}

.content-top-txt h2 {
    color: #fff;
    font-size: 26px !important;
    line-height: 40px;
    padding: 60px 30px 0px 0px;
}

.img-responsive img {
    max-height: 350px;
    border: 2px #626264 solid;
}

img.unit-img {
    max-width: 600px;
}

.content-top-txt {
    padding-top: 0px !important;
}

.content-main {
    padding: 60px;
}

.content-main .content-col {
    padding: 0 0 60px 0;
    margin: 0;
}

.content .content-col.left {
    width: 50%;
    display: inline-block;
    float: left;
}

.content .content-col.right {
    width: 50%;
    display: inline-block;
    float: initial;
}

.container-page {
    padding:20px;
}

.webform-client-form {
    padding-top: 60px;
}

.webform-client-form .form-item {
    padding-bottom: 20px;
}

.webform-client-form button {
    box-shadow: none !important;
    max-width: 250px !important;
    width: 250px !important;
}

/*Public header
–––––––––––––––––––––––––––––––––––––––––––––––––– */
header {
    width:100%;
    z-index:10;
}

/*Tooltip
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#tooltip {
    position:absolute;
    background:#1c2b39;
    color:#ffffff;
    padding:8px 12px;
    z-index:999;
}

#tooltip.alt-tooltip {
    background:#1c2b39;
}

/*Buttons and Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fileinput-button {
    padding: 15px 35px;
    color: #ffffff;
}

.button.hollow.white {
    border-color:#FFFFFF;
}
button {
    -webkit-box-shadow:  0px 13px 45px 0px #C7C7C7;
    -moz-box-shadow:     0px 13px 45px 0px #C7C7C7;
    box-shadow:          0px 13px 45px 0px #C7C7C7;
}

button.btn-search {
    -webkit-box-shadow:  none !important;
    -moz-box-shadow:     none !important;
    box-shadow:          none !important;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
}

input.text-search {
    border: none;
    padding: 15px 20px;
    background-color: #f7f7fa;
}

.container-btn {
    max-width: 350px;
    margin: initial;
    text-align: initial;
}

.sidebar-btn {
    padding-top: 30px;
}

.container-create-account-btn {
    padding-top: 60px;
}

.sidebar .container-btn {
    margin: 0 auto;
    text-align: center;
}

.sidebar-form {
    padding: 80px 0px;
}

.sidebar-form h2 {
    font-size: 42px;
    margin:0 0 55px 0;
}

.container-form-toggle {
    margin: 60px;
}

.button {
    width: 80%;
    max-width: 280px;
    height: 57px;
    display: inline-block;
    border: none;
    color: #FFFFFF;
    transition: background-color 100ms ease-out;
    cursor: pointer;
    line-height:60px;
    text-decoration:none;
    text-align: center;
}

.button a, .button a:hover, .button.hollow a:hover {
    color: #FFFFFF;
    text-decoration: none;
    padding: 16px 0px;
    display: block;
}

.button.hollow {
    border: 2px solid;
    background:none;
}

.button.white a {
    color:#FFFFFF !important;
}

.button.no-shadow {
    margin: 15px 25px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
     box-shadow: none; 
}

span.trigger-password {
    padding-top: 30px;
    color: #cbcbcb;
    font-size: .8em !important;
}

span.trigger-password:hover {
    cursor: pointer;
}

#reset-div p {
    padding-bottom: 40px;
}

form.page-form .field--wrapper {
    margin-bottom: 50px;
}

.field--wrapper {
    position: relative;
    margin-bottom: 45px;
    text-align: left;
}

.field--wrapper.last {
    margin-bottom: 10px !important;
}

.field--wrapper.error label,
.field--wrapper span.error {
    font-weight:bold;
    color:red;
}

.field--wrapper span.error {
    display:inline-block;
    margin-top:10px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.field--wrapper input[type=text],
.field--wrapper input[type=number],
.field--wrapper input[type=password],
.field--wrapper textarea {
    display: block;
    height: 60px;
    font-size: 22px;
    width: 100%;
    padding: 0em 0em 10px 0em;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-radius: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    outline: none;
    margin: 0px;
    background: none;
}
.field--wrapper input[type=file]{
    font-size: 12px;
}
.field--wrapper textarea {
    background-color: #F7F7Fa;
    padding: 20px;
}
.field--wrapper select {
    width:100%;
    padding:5px;
    border: 2px solid rgba(0, 0, 0, .1);
}
.field--wrapper select[multiple] {
    min-height:200px;
}

.field--wrapper select#userTeam {
    margin-top: 30px;
}

form ul {
    padding: 0;
}

form ul li {
    list-style: none;
}

form ul.options {
    margin:0;
    padding:0;
    list-style: none;
}

form ul.options li input,
form ul.options input#readOnly,
form ul.options input#userSettings {
    display:inline-block;
    float:left;
    width:auto;
    margin:6px 14px 0 0;
}

ul.errors {
    margin-bottom: 20px;
}

ul.errors li {
    color:#a94442;
}

em.required {
    color:#a94442;
    font-weight:700;
}

form ul.options li strong {
    width:50%;
    display:inline-block;
}

.page-content form#form-photo {
    padding-top: 30px;
}

.required label:after {
    color: #e32;
    content: ' *';
    display:inline;
}

#manager-fields .select2-container,
#name-fields .field--wrapper label,
#name-fields .field--wrapper input,
#date-fields .field--wrapper label,
#date-fields .field--wrapper input,
#address-fields .field--wrapper label,
.field--wrapper select#userCompany
 {
    width: 95% !important;
}

form#reports .select2-container {
    width: 100% !important;
}

#address-fields .field--wrapper textarea {
    width: 88% !important;
}

#name-fields .field--wrapper input#dummyEmail {
    width: initial !important;
}

#remember-me {
    width: 60% !important;
    padding-top: 0 !important;
    margin: initial;
    text-align: right;
}

.field--wrapper #remember-me label {
    top: initial;
    left: initial;
    font-size: 16px;
    transition: none;
    opacity: 1;
    width: 100%;
    position: initial;
}

.field--wrapper #remember-me input {
    width: 25px;
    display: inline-block;
}

span.remember-me-txt {
    color: #C7C7C7;
    font-size: .8em !important;
}

.field--wrapper label.float {
    font-family: inherit;
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 16px;
    transition: all 0.1s linear;
    opacity: 0;
}

.field--wrapper label.float.show {
    top: -27px;
    opacity: 1;
}

.field--wrapper input::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.field--wrapper input::-moz-placeholder {
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.field--wrapper input:-ms-input-placeholder {
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.field--wrapper input:-moz-placeholder {
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.sml-link {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 10px 0px;
}

.sml-link, .sml-link p, .sml-link a, .sml-link a:hover, .sml-link a:focus, .sml-link a:active {
    text-decoration: none;
    color: #333;
    font-size: 13px !important;
}

input[type="file"] {
font-size: 12px;
padding-bottom: 40px;
}

form.filter {
    display:inline-block;
}

.btn-small {
    padding: 10px 20px;
    height:auto;
    line-height: 1.7;
    width: auto;
}

.btn-small:hover {

}

.footer p, .footer a, .footer a:hover, .footer a:focus, .footer a:active {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 12px;
}

.sidebar .footer p, .sidebar .footer a, .sidebar .footer a:hover, .sidebar .footer a:focus, .sidebar .footer a:active {
    color: #a0a0a0;
}

.container-fluid {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}

.scheme-logo {
    display: flex;
    margin: 0 auto !important;
}

.scheme-logo a {
    margin: 0 auto;
}

.scheme-logo img {
    max-width: 250px;
    mix-blend-mode: multiply;
}

/*CPD
-------------------------------------------------- */
article.cpd {
    margin-bottom:60px;
}

article.cpd div.module-wrapper {
    border-top: 2px solid #e9ecef;
    margin-bottom: 60px;
}

article.cpd div.module-wrapper div.module {
    border: 2px solid #e9ecef;
    border-top:none;
}

article.cpd div.header {
    cursor:pointer;
    padding: 10px 30px;
    transition: background-color 200ms ease-out;
}

/*article.cpd div.header:hover {
    background-color: #F7F7Fa;
}*/

article.cpd div.header h4 {
    margin:0;
    display:inline;
}

article.cpd div.header h5 {
        margin:0;
    display:inline;
    color: #fff;
}

article.cpd div.unit-group div.status {
    padding-top: 0px;
}

article.cpd div.status {
    display:inline;
    float:right;
    padding-top: 5px;
    color: #fff;
}

article.cpd h2 {
    margin-bottom: 10px;
}

article.cpd p {
    font-weight: 600;
    padding-top: 10px;
}

article.cpd div.job-role {
    border-bottom: 2px #e8ecef solid;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

article.cpd p.jobroleEndorse {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 800px;
    text-align: right;
    padding-top: 0;
    font-weight: initial;
}

article.cpd a.jobroleEndorseExpand {
    position: absolute;
    right: 0;
    top: 43px;
}

article.cpd p.jobroleEndorse .button.no-shadow {
    margin-top: 0;
}

span.module-status-complete {
    font-weight: 600;
    color: #59c269;
}

span.module-status-inprogress {
    font-weight: 600;
    color: #ffb848;
}

span.module-status-active {
    font-weight: 600;
    color: #0D99F2;
}

span.module-status-expired {
    font-weight: 600;
    color: #FF0000;
}

span.module-status-complete img, span.module-status-inprogress img {
    float: left !important;
    margin: 7px 11px 0px 0px;
    height: 13px;
}

article.cpd div.status img {
    display: inline-block;
    float: right;
    margin-left: 20px;
}

article.cpd div.module-wrapper div.module div.unit-groups div.unit-group,
article.cpd div.module-wrapper div.module div.unit-groups div.summary {
    margin: 25px;
}

article.cpd div.module-wrapper div.module div.unit-groups div.unit-group div.header {
    height:auto;
    border-top:1px solid #e9ecef;
    border-bottom:1px solid #e9ecef;
    padding:7px 14px;
}

article.cpd div.closed {
    display:none;
}

article.endorsements-pending {
    padding: 10px 30px;
}

article.endorsements-pending h4 {
    margin-bottom: 10px;
    display: inline;
    color: #ffffff;
}

article.endorsements-pending p,
article.endorsements-pending a {
    font-weight: 600;
    padding-top: 5px;
    color: #ffffff;
}

.unit-files {
    padding: 15px 0px;
}

.unit-files a {
    text-decoration: none;
}

.unit-files a:before {
    content: url("/assets/img/arrow_down.svg");
    display: inline-block;
    width: 20px; /*only one size is alright, IE scales uniformly to fit it*/
    margin-right: 10px;
}

/*Results
-------------------------------------------------- */
article.results {
    margin:100px 0px;
}

/*Scheme Profile
-------------------------------------------------- */
article.scheme-profile {
    margin-bottom:60px;
}

/*Administrator Tools
-------------------------------------------------- */
article.administrator-tools {
    margin-bottom:60px;
}

/*Slides
-------------------------------------------------- */
section.slides article {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
    opacity: 0;
    transition-duration: 0.8s !important;
    transition-property: opacity !important;
}

section.slides article.active {
    opacity: 1 !important;
}

section.slides article div.container {
    position: absolute;
    margin-top: 20%;
    right: 0;
    width: 50%;
    min-height: 450px;
    opacity:0.9;
}

section.slides article div.container div.caption {
    position: initial;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: initial;
    color: #fff;
    text-align: left;
    padding: 40px 70px 40px 40px;
    opacity:1;
}
section.slides article div.container div.caption h2 {
    font-size: 36px;
    line-height: 1.4;
    color:#FFFFFF;
}

section.slides article div.container div.caption p {
    padding-bottom: 30px !important;
    color: #fff !important;
}

section.slides article div.container div.buttons {
    height: 65px;
    width:100%;
    opacity:1;
}

section.slides article div.container div.buttons div.button {
    width: 44.555%;
    display:inline-block;
    float:left;
}
.button.hollow.white.left {
    margin-right: 20px;
}

.button.hollow.white.right {
    margin-left: 20px;
}

section.row.admin {
    margin-bottom:20px;
}

/*.header-controls {
    position: absolute;
}*/

.header-controls .header-search,
.header-controls .container-btn {
    float: left;
}

.header-controls .container-btn {
    margin-left: 40px;
    width: 260px;
    height: 57px;
}


.header-controls a.btn-add-new {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
    text-align: center;
}


/*Notifications
-------------------------------------------------- */
.alert {
    padding: 7px 20px;
    margin: 0;
    height: 40px;
    line-height: 40px;
}

.alert.alert-warning {
    background-color: #f2dede;
    color: #a94442;
}

.alert.alert-success {
    background-color: #dff0d8;
    color: #3c763d;
}

body.logged-in .alert {
    margin: 0;
}


/*Page layout
-------------------------------------------------- */
/*section.page {
    box-shadow: 5px 10px 18px #888888;
    min-height:100vh;
}*/

/*section.page div:last-child {
    margin-bottom:60px;
}*/

.page-header {
    padding: 35px 60px;
    display: block;
    overflow: auto;
}

.page-header img,
img.rounded-circle {
/*    border: 2px #626264 solid;*/
    height: 180px;
    max-height: 180px;
    width: auto;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.page-header h2 {
    font-size: 42px;
    margin: 0 0 10px 0;
}

.page-header h2,
.page-header p,
.page-header a {
    color: #FFFFFF;
}

.page-header p {
    padding-bottom: 30px;
}

.page-form {
/*  padding: 60px;*/
}

.page-content {
    padding: 60px;
}

.page-content:first-child {
    padding-top:80px;
}

.acc-info {
    padding: 30px 60px;
    background-color: #F7F7Fa;
    border-bottom: 2px #e8ecef solid;
    display: none;
}

.acc-info h2 {
    margin: 0 0 10px 0;
}

/*.acc-info .col-3 p {
    padding-bottom: 20px;
}*/

.account-details-toggle {   
    float: right;
    padding: 16px;

}

.link-toggle {
    float: right;
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #e8ecef;
    margin-right: 60px;
}

.link-toggle a {
    display: block;
    padding: 17px 0px 0px 17px;
}

/*cpd navigation
-------------------------------------------------- */
#notifications {
    z-index: 9999;
position: fixed;
width: 100%;
    bottom:0;
    left:0;
}

#toggle {
    cursor: pointer;
    width: 25px;
}

#toggle div {
  width: 100%;
  height: 2px;
  background: white;
  margin: 4px auto;
  transition: all 0.3s;
  backface-visibility: hidden;
}

#toggle.on .one {
  transform: rotate(45deg) translate(8px, 2px);
}

#toggle.on .two {
  opacity: 0;
}

#toggle.on .three {
  transform: rotate(-45deg) translate(7px, 0px);
}

#menu {
  display: none;
  padding-top: 20px;
}

#menu > ul > li {
    padding: 20px 0px !important;
}

body .topNavigation a, body.logged-in .topNavigation a {
    color: #fff;
    text-decoration: none;
    padding-right: 40px;
}

#toggle h6 {
    text-transform: uppercase;
    color: #fff;
    font-size: 9px;
}

nav.cpd {
    padding: 0 0 60px 0;
}

nav.cpd ul {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

nav.cpd li.nav-closed ul {
    display:none;
}

nav.cpd li {
    padding: 0;
    margin:0;
    font-weight: 600 !important;
    width: 100%;
}

nav.cpd li a {
    text-decoration: none;
    position: relative;
    display: block;
    padding:13px 15px 13px 60px;
    transition: background-color 100ms ease-out;
}

nav.cpd li a:hover,
nav.cpd li.nav-open > a {
    color: #FFFFFF;
}

nav.cpd ul > li:last-child {
    margin-bottom: 40px;
}

nav.cpd ul > li > ul li a:hover,
nav.cpd ul > li > ul li a.active {
    background-color: rgba(0,0,0,.05);
    color: #444444;
}

nav.cpd ul.secondary li {
    padding:0;
    margin:0;
}

nav.cpd ul.secondary li a {
    font-size: 12px;
    padding:10px 0 10px 70px;
}

nav.cpd#sign-out {
    padding: 0px;
}

nav.cpd#sign-out ul > li:last-child {
    margin-bottom: 0px;
}

nav.cpd#sign-out li a {
    color: #FFFFFF;
}

body.logged-in .page-subHeader {
    padding: 12px 0px;
}

.topNavigation {
    padding:10px 30px;
}

body.logged-in .topNavigation {
    padding:15px 30px;
    margin-top: 12.5px;
}

.page-subHeader a.back-link,
.page-subHeader .link-bold {
    font-weight: 700;
    padding: 0px 30px;
}

/* Module Group Tabs
-------------------------------------------------- */
.module-group-tabs {
    padding-top: 50px;
}
.module-group-tabs ul {
    border-bottom: 2px #e8ecef solid;
    height: 58px;
    }
.module-group-tabs .tabs li {
    float:left;
    min-width: 200px;
    }
.module-group-tabs .tabs a {
    display:block;
    text-align:center;
    text-decoration:none;
    padding:15px;
    margin: 2px 1px 0px 1px;
    transition: background-color 100ms ease-out;
    }
.module-group-tabs .tabs a:hover {
    color: #fff;
    }
.module-group-tabs .tabs a h4 {
    font-size: 16px !important;
    font-weight: 600;
    color: #fff;
}

.module-group-tabs .tabs a.active {
    padding:15px 15px 30px 15px;
    margin-top: -13px;
}

.module-group-tabs .tabs a.active > p {
    color: #fff !important;
}

.module-group-tabs .tabs a.active h4,
.module-group-tabs .tabs a:hover h4 {
    color: #fff;
}

.tabgroup .clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.module-tabs ul {
    display:flex;
    width:100%;
}

.module-tabs ul div.tabs-group {
    flex: 50%;
    margin-top:40px;
    margin-bottom:40px;
}

.module-tabs ul div.tabs-group li {
    padding:5px 20px;
    line-height:20px;
}

.module-tabs ul div.tabs-group li a.module-status {
    text-decoration: none;
    font-weight:700;
    font-size:16px;
    padding: 10px 15px;
}

.module-tabs ul div.tabs-group li a.module-status.active {
 background-color:#f4f4fa; 
}

.groups-tab-group {
    display:none;
}

span.status-inprogress,
span.status-complete,
span.status-active {
    border-radius:50%;
    width:12px;
    height:12px;
    display:inline-block;
    margin-right:20px;
}

span.status-inprogress {
    background-color:#ffb848;
}

span.status-complete {
    background-color:#59c269;
}

span.status-active {
    background-color:#0D99F2;
}

div.cpd-icons, div.cpd-comment, div.cpd-comment-number, div.cpd-comment-txt {
    display: flex;
}

div.cpd-icons {
    padding-top: 5px;
    /*cursor: pointer;*/
}

div.cpd-icons a {
    padding-right: 10px;
}

div.cpd-comment {
    background-image: url("/assets/img/comment.svg");
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 0px 3px;
}

div.cpd-comment-number {
    margin: 0 auto;
    text-align: center;
}

div.cpd-comment-number p {
    color: #ffffff;
    font-weight: 600;
    font-size: 11px;
    width: 17px;
    padding: 2px 0px 0px 0px;
}

div.cpd-comment-txt {
    margin-left: 4px;
    font-size: 13px;  
}
p.profile span.label {
    display: inline-block;
    width: 150px;
    padding: 15px 0px;
    font-weight: 600;
}

p.profile span.label:nth-of-type(1) {
    padding: 0px 0px 15px 0px;
}

p.scheme-profile span.label {
    display: inline-block;
    width: 400px;
    padding: 15px 0px;
    font-weight: 600;
}

p.scheme-profile span.label:nth-of-type(1) {
    padding: 0px 0px 15px 0px;
}

label {
    padding-bottom: 20px;
    display: block;
}

.field--wrapper.test label {
    font-weight: 700;
}

img.test-icon {
    padding: 6px 15px 0px 0px;
    height: 30px;
}

/*Table data
-------------------------------------------------- */
table.data {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;
}
@media screen and (max-width: 1300px) {
table.data,
table.data a {
    font-size: 14px;
}
}

table.data th, table.data td {
    text-align: left;
    padding: 8px;
}

table.data thead th {
    border-bottom:2px solid #dedee1;
        font-weight: 600;
}

table.data thead th:last-child {
      padding-right: 60px;  
}

table.data thead th.title {
/*    min-width:360px;*/
}

table.data tbody td {
/*    border-top:1px solid #f7f7fa;*/
    vertical-align: top;
}

table.data tbody tr:nth-of-type(2n+1),
table.data tbody tr.odd {
    background-color: #f7f7fa;
}

table.data tbody tr.even {
    background-color: #FFF;
}

div.module table.data tbody tr td:first-child {
    padding-left: 15px;
}

div.module table.data tbody tr td:last-child {
    padding-right: 15px;
}

div.unit-groups table.data tbody tr td:first-child {
    text-align: left;
    width: 350px;
    padding-right: 40px;
}

table.data tbody tr td:first-child {
    text-align: left;
    padding-right: 40px;
}

table.data tbody td:nth-child(2) {
    font-weight: 600;
}

table.data tbody td.icons {
    text-align: right;
    white-space: nowrap;
    border-collapse: collapse;
    width: 1px;
}

div.links {
    margin: 40px 0 40px 0;
}
a.icon {
    display: inline-block;
}
a.icon img {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    padding: 0;
}

div.links a,
div.links span {
    text-decoration: none;
    width:30px;
    height:30px;
    line-height:30px;
    display:inline-block;
    text-align:center;
}

div.links span.current {
    background-color: #F7F7Fa;
}

table.data tbody tr td p.td-title-responsive, table.data thead th p.td-title-responsive {
    display: none;
}
.sp-select {
    padding: 15px 20px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #f7f7fa;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.sp-select::-ms-expand {
    display: none;
}
.sp-select:hover {
    border-color: #888;
}
.sp-select:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
}
.sp-select option {
    font-weight:normal;
}

/*Hierarchy Custom Styling
-------------------------------------------------- */

.jstree-default .jstree-open>.jstree-ocl {
    background-position: -132px -5px !important;
}
.jstree-default .jstree-hovered {
    background: #f7f7fa !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0px !important;
}

.jstree-default .jstree-clicked {
    font-weight: 600;
    background: #f7f7fa !important;
    border-radius: 0 !important;
}
.jstree-default .jstree-icon:empty {
    width: 32px !important;
    height: 43px !important;
}
.jstree-default .jstree-anchor {
    width: 50%;
    padding: 20px;
}
.button-hierarchy {
     background: none !important; 
    padding: 27px 7px !important;
    display: inline-block !important;
     border-radius: 0px !important; 
    font-size: 16px !important;
    color: #1C2B39 !important;
    cursor: pointer !important;
    line-height: 10px !important;
    text-align: center !important;
    margin: 0px 15px 0px 15px !important;
    font-style: initial !important;
    border: none !important;
}
.pull-right {
    float: right;
}
.jstree-themeicon-custom {
    background-position: top center !important;
}

div.loading {
    width:100%;
    height:100vh;
    position: fixed;
    top:0;
    z-index:10000;
    background:rgba(0,0,0,0.9);
    display:none;
    text-align: center;
}

div.loading .spinner {
    margin-top:48vh;
    display: inline-block;
    width: 64px;
    height: 64px;
}

div.loading .spinner:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: loading-spinner 1.2s linear infinite;
}

@keyframes loading-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.loading div.loading {
    display:block;
}

#server {
    position: fixed;
    top:0;
    left:0;
    z-index: 100;
    background:rgba(0,0,0,0.6);
    color:#FFF;
    padding:10px;
    font-size:11px;
    font-family:'Courier New', Courier, monospace;
}

/* Archive styles
-------------------------------------------------- */
body.archive div#job-role-cpd,
section#archive.hidden {
    display:none;
}

body.archive section#archive {
    display:block !important;
}

/* Print styles
-------------------------------------------------- */
body.print div.sidebar,
body.print footer,
body.print div#notifications,
body.print div#server,
body.print div.loading,
body.print div.page-subHeader,
body.print div.link-toggle,
body.print div.account-details-toggle,
body.print div.module-group-tabs,
body.print div.module-tabs,
body.print div.unit-group div.status,
body.print a.button,
body.print div.cpd-icons {
    display:none !important
}

body.print div#account-details-expand,
body.print div.groups-tab-group {
    display:block !important;
}

body.print .content {
    width:100% !important;
}

body.print div.page-header {
    background: none !important;
}

body.print .page-header h2 {
    color:#000000 !important;
}

body.print div.groups-tab-group {
    margin:0 0 20px 0;
}

body.print a {
    text-decoration: none;
    cursor: text;
}

.date-selector select {
    width:100px;
    display:inline;
    margin-right:10px;
}

/*Media Queries
-------------------------------------------------- */
@media screen and (max-width: 1400px) {
    .container-carousel-caption {
        width: 80%;
    }
}

@media screen and (max-width:1024px) {

    
}

@media screen and (min-width: 949px) {
    .menu-hide nav.scheme {
        display: none;
    }
}

@media screen and (max-width: 950px) {

    header {
    position: initial;
    }
    
    .page-subHeader {
    min-height: 25px;
    }

    .page-subHeader a {
    padding: 10px 0px;
    }

    nav.cpd {
    padding: 0px;
    top: 0;
    }

    nav.topNavigation {
    float: initial;
    }

    body.logged-in nav.topNavigation {
    margin-top: 40px !important;
    }

    body .topNavigation a,
    body.logged-in .topNavigation a {
    display: block;
    padding: 10px 0px 0px 0px;
    }

    section.row.admin {
    display: block;
    }

    nav.cpd li a {
    padding: 10px 20px;
    }

    nav.cpd ul > li:last-child {
    margin-bottom: 20px;
    }
    .header-controls {
        position: initial;
        float: initial;
    }
    .header-controls .header-search {
        position: initial;
        float: initial;
        padding: 20px;
    }

    .header-controls .container-btn {
    margin: 30px auto 0px auto;
    width: 100%;
    height: 57px;
    }

    .header-controls a.btn-add-new {
    padding: 15px 0px 0px 0px;
    }

    .right {
    float: initial;
    }

    /*Fomat table data*/
    div.module table.data thead {
        display: none;
    }
    div.module table.data tbody tr td {
        display: block;
        padding-left: 15px; 
    }
    table.data tbody tr td:first-child {
        width: initial; 
        padding-right: 0px; 
    }
    table.data tbody tr td p.td-title-responsive, table.data thead th p.td-title-responsive {
        display: initial;
        font-weight: 600;
    }
    table.data tbody td {
        display: block;
    }
    table.data thead {
        display: none;
    }
    #manager-fields .select2-container,
    #name-fields .field--wrapper label,
    #name-fields .field--wrapper input,
    #date-fields .field--wrapper label,
    #date-fields .field--wrapper input,
    #address-fields .field--wrapper label {
    width: 100% !important;
    }

    #address-fields .field--wrapper textarea {
    width: 100% !important;
    }
    /*Format Scheme Profile and Admin Tools */
    .row {
        display: initial;
    }
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
        width: 100%;
        max-width: initial;
        padding: 20px 0px;
    }

    .footer {
        position: initial;
        padding: 20px;
    }
    .sidebar {
    /*remove position:sticky on touchscreen devices*/
    position: initial !important;
    }
    .sidebar-form,
    body.logged-in .sidebar-form {
        padding: 0px;
    }
    .scheme-logo {
        padding-top: 40px;
    }
    .container-form-toggle {
        margin: 0px 0px 60px 0px;
    }
    #form-login, #form-password {
        padding: 0 40px;
    }
    body.logged-in .menu-tab.active {
        left: 100%;
    }
    .content-top {
        height: initial;
        min-height: initial;
    }
/*    .content {
        box-shadow: none !important;
        width: 100%;
        max-width: 100%;
        float: initial;
        margin: 0;
        overflow: hidden;
    }*/
    .content .content-col {
        display: initial;
    }
    .menu-tab, .menu-hide {
        position: absolute;
    }
    .menu-hide, body.logged-in .menu-hide {
        min-height:100vh;
        width: 100%;
        left: -100%;
    }
    .menu-tab.active, body.logged-in .menu-tab.active {
        left: initial;
        right: 0;
    }
    div.unit-groups table.data tbody tr td:first-child {
    width: initial;
    }
    section.slides article {
        margin-top: 250px;
        width: 100%;
        max-width: 100%;
        max-height: 600px;
        float: initial;
        overflow: initial;
    }
    section.slides article div.container {
        top: -250px;
        min-height: 250px;
        margin: 0;
        width: 100%;
        opacity: 1;
    }
    .page-header {
        min-height: initial;
        padding: 15px 20px;
    }
    .page-header img {
        max-height: 100px;
        float: initial;
    }
    h2, .page-header h2 {
        font-size: 22px;
        font-weight: initial;
    }
    .content-main {
        padding: 0;
    }
    .page-content {
        padding: 150px 20px;
    }
    .module-group-tabs ul {
        border-bottom: none; 
        height: initial; 
    }
    .module-group-tabs .tabs li {
        float: initial; 
        width: initial; 
    }
    .module-group-tabs .tabs a.active {
        padding: 15px;
    }
    .module-group-tabs .tabs a {
        padding: 15px;
    }
    article.cpd div.status {
    display: block;
    float: initial;
    }
    article.cpd div.status img {
     margin-left: 0px; 
    }
    article.cpd p.jobroleEndorse {
    position: initial;
    right: 0;
    top: 0;
    width: initial;
    text-align: initial;
    padding-top: 0;
    font-weight: initial;
    }

    article.cpd a.jobroleEndorseExpand {
    position: initial;
    right: 0;
    top: 0;
    }

    article.cpd p.jobroleEndorse .button.no-shadow {
    margin-top: initial;
    }
    .page-form {
    padding: 60px 30px;
    }
}

@media screen and (max-width: 549px) {
    .menu-tab, .menu-hide {
        position: absolute;
    }
    .menu-hide {
        height: 100%;
        width: 100%;
        left: -100%;
    }
    .menu-hide .container-menus {
        padding: 60px 0px;
    }
    .menu-hide .container-create-account-btn {
        padding: 60px;
    }
    .scheme-logo img {
        height: 150px;
    }
    .log-in-btn, .create-account-btn {
        width: 100%;
    }
}

table.taskbooks form button {
    height:40px;
    line-height:40px;
}
div.assessment {
    background: #e9ecef;
    padding:10px;
    border-bottom:3px solid;
}
div.assessment p {
    padding:0;
}
div.assessment.passed {
    border-color:#00dd00;
}
div.assessment.failed {
    border-color:#dd0000;
}

#cpd-wrapper table.data {
    margin-top:20px;
}

div.pages ol, div.pages ul {
    list-style:outside;
    margin-left:20px;
    margin-bottom: 20px;
}

div.pages ol {
    list-style:decimal;
}

div.pages p {
    margin-bottom:20px;
}