{% requirePermission 'editEntries:3' %}

{% extends "_layout" %}
{% import "_macros" as ui %}
{% set metaTitle = "Management > Companies" %}

{% set entryId = craft.request.getSegment(4) %}
{% if entryId and entry is not defined %}
    {% set entry = craft.entries.id(entryId).first %}
{% endif %}

{% block content %}

<div class="page-header">
    {% if entry is defined and entry.id %}
        <h2>Edit company</h2>
    {% else %}
        <h2>Create a new company</h2>
    {% endif %}
</div>

{% if entry is defined %}
    {{ ui.errorList(entry.getAllErrors()) }}
{% endif %}

<form method="post" role="form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="entries/saveEntry">
    <input type="hidden" name="redirect" value="management/companies">
    <input type="hidden" name="sectionId" value="3">
    <input type="hidden" name="enabled" value="1">
    <input type="hidden" name="entryId" value="{{ entry.id|default('') }}">
    <div class="form-group-lantra float-label-control">
        <label for="title">Company name:</label>
        <input id="title" name="title" class="5000" placeholder="Enter the company name" value="{{ entry.title|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        {#<label for="companyParent">Select Company parent (if applicable):</label>#}
        {% if currentUser.isInGroup('schemeManagers') %}
            {% set companyEntries = craft.entries.section('companies').id('not ' ~ craft.lantra.individualCompanyId()) %}
        {% else %}
            {% set companyEntries = craft.entries.section('companies') %}
        {% endif %}
        <select data-relation="fields[companyParent]" data-value="{{ entry.companyParent.first().id|default('') }}" id="companyParent" >
            <option value="">Select Company parent (if applicable):</option>
            {% for companyEntry in companyEntries %}
                {% if not entryId or ( companyEntry.id != entry.id ) %}
                    <option value="{{ companyEntry.id }}">{{ companyEntry.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <hr>
    </div>
    <div class="form-group-lantra float-label-control">
        {#<label for="companyManager">Select Company manager:</label>#}
        {% set userEntries = craft.users.group('companyManagers') %}
        <select data-relation="fields[companyManager]" id="companyManager" data-value="{{ entry.companyManager.first().id|default('') }}">
            <option value="">Select Company manager:</option>
            {% for userEntry in userEntries %}
                <option value="{{ userEntry.id }}">{{ userEntry.getFullName() }}</option>
            {% endfor %}
        </select>
        <hr>
    </div>
    <div class="form-group-lantra float-label-control">
        <input type="number" name="fields[companyRemainingLicences]" value="{{ entry.companyRemainingLicences|default(0) }}">
    </div>
    <br />
    <div class="freetext-procedure"><button type="submit">Save company</button></div>
</form>

{% endblock %}
