{% requirePermission 'editEntries:3' %}

{% extends "_layout" %}
{% import "_macros" as ui %}
{% set metaTitle = "Management > Companies" %}

{% set entryId = craft.request.getSegment(4) %}
{% if entryId and entry is not defined %}
    {% set entry = craft.entries.id(entryId).first %}
{% endif %}

{% block content %}

<div class="page-header">
    {% if entry is defined and entry.id %}
        <h2>Edit company</h2>
    {% else %}
        <h2>Create a new company</h2>
    {% endif %}
</div>

{% if entry is defined %}
    {{ ui.errorList(entry.getAllErrors()) }}
{% endif %}

<form method="post" role="form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="entries/saveEntry">
    <input type="hidden" name="redirect" value="management/companies">
    <input type="hidden" name="sectionId" value="3">
    <input type="hidden" name="enabled" value="1">
    <input type="hidden" name="entryId" value="{{ entry.id|default('') }}">
    <div class="form-group-lantra float-label-control">
        <label for="title">Company name:</label>
        <input id="title" name="title" class="5000" placeholder="Enter the company name" value="{{ entry.title|default('') }}">
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="companyParent">Company parent:</label>
        {% set companyEntries = craft.entries.section('companies') %}
        <select data-relation="fields[companyParent]" data-value="{{ entry.companyParent.first().id|default('') }}" id="companyParent" >
            <option value="">~ none selected ~</option>
            {% for companyEntry in companyEntries %}
                {% if not entryId or ( companyEntry.id != entry.id ) %}
                    <option value="{{ companyEntry.id }}">{{ companyEntry.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group-lantra float-label-control">
        <label for="companyManager">Company manager:</label>
        {% set userEntries = craft.users.group('companyManagers') %}
        <select data-relation="fields[companyManager]" id="companyManager" data-value="{{ entry.companyManager.first().id|default('') }}">
            <option value="">~ none selected ~</option>
            {% for userEntry in userEntries %}
                <option value="{{ userEntry.id }}">{{ userEntry.getFullName() }}</option>
            {% endfor %}
        </select>
    </div>
    {% if globalsScheme.schemeRemainingLicences %}
        <div class="form-group-lantra float-label-control">
            <label for="companyRemainingLicences">Company Licences ({{ globalsScheme.schemeRemainingLicences }}):</label>
            <input id="companyRemainingLicences" type="text" value="{{ entry.companyRemainingLicences|default('') }}" name="fields[companyRemainingLicences]" />
        </div>
    {% else %}
        <h4>There are no more licences to assign.</h4>
    {% endif %}
    <br />
    <div class="freetext-procedure"><button type="submit">Save company</button></div>
</form>

{% endblock %}
