{% requirePermission 'editEntries:3' %}

{% extends "_layout" %}

{% set metaTitle = "Management > companies" %}
{% set dateFormat = globalsSystem.dateFormat|default('d/m/y') %}
{% set pageLimit = globalsSystem.defaultLimit|default(10) %}

{% set criteria = craft.entries.section('companies').limit(pageLimit) %}
{% paginate criteria as pageInfo, companyEntries %}

{% block content %}

<section class="list">
    <h2>Companies</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Parent</th>
                    <th>Remaining Licences</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for company in companyEntries %}
            {% set parent = company.companyParent.first %}
                <tr class="item">
                    <th>{{ company.id }}</th>
                    <th>{{ company.title }}</th>
                    <th>{{ parent.title|default('~ none ~') }}</th>
                    <th>{{ company.companyRemainingLicences }}</th>
                    <th>
                        <a href="/management/companies/edit/{{ company.id }}">edit</a> |
                        <a class="action" href="#" data-action="lantra/entries/deleteEntry" data-id="{{ company.id }}">delete</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% include 'includes/_pagelinks' with {pageInfo:pageInfo} %}
</section>
<div class="freetext-procedure"><a href="/management/companies/new">Create company</a></div>

{% endblock %}
