{% if currentUser.isInGroup('companyManagers') %}
    {% set companies = craft.entries.section('companies').relatedTo(currentUser) %}
    {% set teams = craft.entries.section('teams').relatedTo(companies) %}
{% else %}
    {% set teams = craft.entries.section('teams') %}
{% endif %}

{% requirePermission 'editEntries:5' %}

{% extends "_layout" %}

{% set metaTitle = "Management > Teams" %}

{% block content %}

<section class="list">
    <h2>Teams</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Company</th>
                    <th>Name</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr class="item">
                    <th>{{ team.id }}</th>
                    <th>{{ team.teamCompany.first.title }}</th>
                    <th>{{ team.title }}</th>
                    <th>
                        <a href="/management/teams/edit/{{ team.id }}">edit</a> |
                        <a class="action" href="#" data-action="lantra/entries/deleteEntry" data-id="{{ team.id }}">delete</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
<div class="freetext-procedure"><a href="/management/teams/new">Create team</a></div>

{% endblock %}
