/* Styles go here */

tr.collapse.in, tr.collapsing {
  display: table-row !important;
}

td.collapse.in, td.collapsing {
  display: table-cell !important;
}

.table-bordered > tbody > tr.collapse-row td {
  padding: 0;
}

.collapse-row td > div > .collapse-cell {
  padding: 8px;
}