/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
body,
button,
input,
select,
optgroup,
textarea,
p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #192a38;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    line-height: 1.7;
}

h1 {
    font-size: 42px !important;
    font-weight: 300 !important;
}

h2 {
    font-size: 32px !important;
    font-weight: 300 !important;
}

h4 {
    font-size: 22px !important;
}

/*
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/*Layout and Positioning
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.center {
    margin: 0 auto;
    text-align: center;
}

.right {
    float: right;
}

.log-in-fields {
    padding-top: 60px;
}

.menu-tab {
    width: 70px;
    height: 70px;
    background-color: #fff;
    position: fixed;
    z-index: 100;
    top: 0px;
    left: 0px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.menu-tab div {
    width: 30px;
    height: 3px;
    background-color: #1b2b39;
    display: block;
    margin: 6px auto;
    transition: all .3s ease-in-out;
}

.menu-tab div:nth-child(1) {
    margin-top: 25px;
}

.menu-tab.active {
    left: 33.333%;
    background-color: #a82135;
    transition: all 300ms ease-in-out;
}

.menu-tab.active #one {
    transform: translateY(9px) rotate(-135deg);
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.menu-tab.active #two {
    opacity: 0;
    transition: .3s ease;
}

.menu-tab.active #three {
    transform: translateY(-9px) rotate(-45deg);
    background-color: #fff;
    transition: all .3s ease-in-out;
}

.menu-intro {
    padding: 60px 60px 0 60px;
}

.menu-intro h1 {
    color: #fff;
    padding-bottom: 40px;
}

.menu-intro p {
    color: #fff;
}

.menu-hide {
    width: 33.333%;
    left: -33.333%;
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0px;
    transition: all .3s ease-in-out;
}

.menu-hide nav ul {
    padding: 60px;
}

.menu-hide nav ul li {
    height: 70px;
    list-style-type: none;
    text-align: center;
    line-height: 70px;
    transition: all .3s ease;
    border: #ffffff solid 2px;
    margin-bottom: 30px;
}

.menu-hide nav ul li:hover {
    background-color: #782d32;
    transition: background-color 200ms ease-out;
}

.menu-hide nav ul li a {
    padding: 20px 25px;
    text-decoration: none;
    color: #fff;
    display: block;
}

.menu-hide.show {
    left: 0px;
    background-color: #a82135;
    transition: all .3s ease-in-out;
}

.menu-hide .sml-link p {
    color: #fff;
}

.menu-hide .create-account-btn {
    border: 2px solid #fff;
}

.menu-hide .create-account-btn a {
    color: #fff;
}

.menu-hide .create-account-btn:hover, .menu-hide .create-account-btn:active, .menu-hide .create-account-btn:focus {
    border: 2px solid #fff;
    background-color: #782d32;
    transition: background-color 200ms ease-out;
}

.login-form {
    padding-top: 40px;
}

.reset-form-toggle {
    display: none;
}

.hide {
    display: none;
}

.sml-link.reset:hover {
    cursor: pointer;
}

.content-top {
    padding: 60px;
    min-height: 550px;
    height: 50vh;
    background-color: #f8f9fa;
}

.content-main {
    padding: 60px;
}

.container-content .content-col {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: 47%;
}

/*Buttons and Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container-btn {
    margin: 0 auto;
    text-align: center;
}

.container-log-in-btn {
    padding-top: 30px;
}

.container-create-account-btn {
    padding-top: 60px;
}

.log-in-form {
    padding: 80px;
}

.log-in-btn {
    width: 80%;
    height: 60px;
    display: inline-block;
    background-color: #a82135;
    border: none;
    color: #fff;
    transition: background-color 200ms ease-out;
    cursor: pointer;
}

.log-in-btn:hover {
    background-color: #782d32;
}

.log-in-btn a {
    color: #fff;
    text-decoration: none;
    padding: 16px 0px;
    display: block;
}

.log-in-btn a:hover {
    color: #fff;
    text-decoration: none;
}

.create-account-btn {
    width: 50%;
    height: 60px;
    display: inline-block;
    border: 2px solid #a82135;
    transition: background-color 200ms ease-out;
}

.create-account-btn:hover {
    border: 2px solid #a82135;
    background-color: #a82135;
}

.create-account-btn a {
    color: #a82135;
    text-decoration: none;
    padding: 16px 0px;
    display: block;
}

.create-account-btn a:hover {
    color: #fff;
    text-decoration: none;
}

.container-carousel-btn1 {
    width: 44%;
    float: left;
    padding-right: 40px;
    position: absolute;
    bottom: 40px;
}

.container-carousel-btn2 {
    width: 44%;
    float: left;
    position: absolute;
    bottom: 40px;
    left: 50%;
    padding-right: 40px;
}

.carousel-btn {
    width: 100%;
    height: 60px;
    display: inline-block;
    border: 2px solid #fff;
    transition: background-color 200ms ease-out;
}

.carousel-btn:hover {
    background-color: #a82135;
    border: 2px solid #a82135;
}

.carousel-btn a {
    color: #fff;
    text-decoration: none;
    padding: 16px;
    display: block;
}

.carousel-btn a:hover {
    color: #fff;
    text-decoration: none;
}

span.trigger-password {
    padding-top: 30px;
    color: #cbcbcb;
    font-size: .8em !important;
}

span.trigger-password:hover {
    cursor: pointer;
}

#reset-div p {
    padding-bottom: 40px;
}

.field--wrapper {
    position: relative;
    margin-bottom: 45px;
    text-align: left;
}

.field--wrapper.last {
    margin-bottom: 10px !important;
}

.field--wrapper input, .field--wrapper textarea {
    display: block;
    font-size: 16px;
    width: 100%;
    padding: 0em 0em 10px 0em;
    border: none;
    border-bottom-width: medium;
    border-bottom-style: none;
    border-bottom-color: currentcolor;
    border-radius: 0px;
    border-bottom: 2px solid rgba(0, 0, 0, .1);
    outline: none;
    margin: 0px;
    background: none;
}

#remember-me {
    width: 50% !important;
    padding-top: 0 !important;
    margin: initial;
    text-align: right;
}

.field--wrapper #remember-me label {
    top: initial;
    left: initial;
    font-size: 16px;
    color: #a82135;;
    transition: none;
    opacity: 1;
    width: 100%;
    position: initial;
}

.field--wrapper #remember-me input {
    width: 25px;
    display: inline-block;
}

span.remember-me-txt {
    color: #cbcbcb;
    font-size: .8em !important;
}

.field--wrapper label, ul.dropdowns label {
    font-family: inherit;
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 16px;
    color: #a82135;;
    transition: all 0.1s linear;
    opacity: 0;
}

.field--wrapper label.on, ul.dropdowns label.on {
    color: #a82135;
}

.field--wrapper label.show, ul.dropdowns label.show {
    top: -27px;
    opacity: 1;
}

ul.dropdowns label {
    top: -12px !important;
}

ul.dropdowns label.show {
    top: -14px !important;
}

ul.dropdowns .field--wrapper {
    margin-bottom: 0px;
}

.field--wrapper input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.field--wrapper input::-moz-placeholder { /* Firefox 19+ */
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.field--wrapper input:-ms-input-placeholder { /* IE 10+ */
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.field--wrapper input:-moz-placeholder { /* Firefox 18- */
    font-family: inherit;
    font-size: 16px;
    opacity: 1;
}

.sml-link {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

.sml-link, .sml-link p, .sml-link a, .sml-link a:hover, .sml-link a:focus, .sml-link a:active {
    text-decoration: none;
    padding-bottom: 0 !important;
    color: #333;
    font-size: 13px !important;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px 0px 60px 0px; /* Margin bottom by footer height */
    overflow-x: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    line-height: 40px; /* Vertically center the text there */
}

.container-fluid, .row {
    padding: 0px !important;
    margin: 0px !important;
}

.container-log-in, .container-content {
    float: left;
    display: inline-block;
    height: 100vh;
}

.container-log-in, .container-footer-links {
    width: 33%;
}

.container-content {
    border-left: 1px solid #eeeeee;
    position: relative;
    width: 67%;
}

.container-footer-menu {
    position: absolute;
    bottom: 0;
    height: 40px;
    width: 100%;
}

.container-footer-menu p, .container-footer-menu a, .container-footer-menu a:hover, .container-footer-menu a:focus, .container-footer-menu a:active {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

.container-footer p, .container-footer a, .container-footer a:hover, .container-footer a:focus, .container-footer a:active {
    color: #000;
    text-decoration: none;
    font-size: 12px;
}

.container-footer-links .row, .container-footer-menu .row {
    padding: 0 20px !important;
}

.col-terms {
    text-align: right;
}

.scheme-logo {
    margin: 0 auto !important;
    padding-bottom: 30px !important;
}

.scheme-logo a {
    margin: 0 auto;
}

.scheme-logo img {
    height: 160px;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.col-copyright p {
    font-size: 12px;
    padding: 0;
    margin: 0;
    position: absolute;
    left: 120px;
}

.col-copyright img {
    width: 90px;
    float: left;
    position: absolute;
    bottom: 0px;
}

.col-terms p {
    font-size: 12px;
    padding: 0;
    margin: 0;
}

/*Carousel Styles
-------------------------------------------------- */
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-fade .carousel-item {
    opacity: 0;
    transition-duration: 0.8s !important;
    transition-property: opacity !important;
}

.carousel-item {
    transition: opacity .25s ease-in-out !important;
    -moz-transition: opacity .25s ease-in-out !important;
    -webkit-transition: opacity .25s ease-in-out !important;
}

.carousel-item .active {
    opacity: 1 !important;
}

.carousel-inner {
    overflow: visible !important;
}

.container-carousel-caption {
    position: absolute !important;
    margin-top: 20%;
    right: 0;
    width: 50%;
    height: 450px;
    background-color: rgba(29, 45, 60, 0.9);
}

.carousel-caption {
    position: initial !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    z-index: initial !important;
    color: #fff !important;
    text-align: left !important;
    padding: 40px 70px 40px 40px !important;
}

.carousel-caption p {
    padding-top: 30px !important;
    color: #fff !important;
}

.img-responsive img {
    width: 100%;
    max-height: 400px;
}

.content-top-txt {
    padding-top: 65px !important;
}

.content-top-txt h2 {
    font-size: 26px !important;
    line-height: 40px;
    padding: 60px 30px 0px 0px;
}

.content-main h2 {
    color: #a82135;
}

/*Media Queries
-------------------------------------------------- */
@media screen and (max-width: 1400px) {
    .container-log-in {
        width: 34%;
    }

    .menu-hide {
        width: 35%;
    }

    .menu-hide {
        left: -34%;
    }

    .menu-tab.active {
        left: 34%;
    }

    .container-content {
        width: 66%;
    }

    .container-carousel-caption {
        width: 80%;
    }

    .log-in-form {
        padding: 80px 40px;
    }
}

@media screen and (max-width: 950px) {
    .container-log-in {
        width: 100%;
        max-width: 100% !important;
        height: 1120px;
        float: initial;
        margin: 0;
    }

    .content-top {
        height: initial;
        min-height: initial;
    }

    .container-content .content-col {
        display: initial;
    }

    .menu-tab, .menu-hide {
        position: absolute;
    }

    .menu-hide {
        height: 100%;
        width: 100%;
        left: -100%;
    }

    .menu-tab.active {
        left: initial;
        right: 0;
    }

    .container-content, .container-carousel-caption {
        width: 100%;
        max-width: 100% !important;
        height: 550px;
        float: initial;
        margin: 0;
        overflow: hidden;
    }

    .container-footer-menu {
        bottom: 40px;
        height: initial;
    }

    .footer {
        position: relative;
        height: initial;
    }

    .container-footer-links {
        width: 100%;
        height: 90px;
    }

    .container-footer-links .row {
        padding: 40px 20px 0 20px !important;
    }
}

@media screen and (max-width: 549px) {
    .menu-tab, .menu-hide {
        position: absolute;
    }

    .menu-hide {
        height: 100%;
        width: 100%;
        left: -100%;
    }

    .container-log-in {
        height: 880px;
    }

    .menu-hide .container-create-account-btn {
        padding: 60px;
    }

    .scheme-logo img {
        height: 150px;
    }

    .container-content, .container-carousel-caption {
        height: 750px;
    }

    .log-in-btn, .create-account-btn {
        width: 100%;
    }

    .container-carousel-btn1 {
        width: 90%;
        bottom: 140px;
    }

    .container-carousel-btn2 {
        width: 90%;
        left: initial;
    }