{% requirePermission 'editCategories:1' %}

{% extends "_layout" %}
{% import "_macros" as ui %}
{% set metaTitle = "Management > Job Roles" %}

{% set categoryId = craft.request.getSegment(4) %}
{% if categoryId and category is not defined %}
    {% set category = craft.categories.id(categoryId).first %}
{% endif %}

{% block content %}

<div class="page-header">
    {% if category is defined and category.id %}
        <h2>Edit job role</h2>
    {% else %}
        <h2>Create a new job role</h2>
    {% endif %}
</div>

{% if category is defined %}
    {{ ui.errorList(category.getAllErrors()) }}
{% endif %}

<form method="post" role="form" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="categories/saveCategory">
    <input type="hidden" name="redirect" value="management/roles">
    <input type="hidden" name="groupId" value="1">
    <input type="hidden" name="categoryId" value="{{ category.id|default('') }}">

    <div class="form-group-lantra float-label-control">
        <label for="title">Job role name:</label>
        <input required id="title" type="text" class="5000" placeholder="Enter the job role name" name="title" value="{{ category.title|default('') }}">
    </div>
    <br />
    <div class="freetext-procedure"><button type="submit">Save job role</button></div>

</form>

{% endblock %}
