{% requirePermission 'editCategories:1' %}

{% extends "_layout" %}

{% set metaTitle = "Management > Roles" %}
{% set dateFormat = globalsSystem.dateFormat|default('d/m/y') %}
{% set pageLimit = globalsSystem.defaultLimit|default(10) %}
{% set filterSearch = craft.request.getParam('search')|default('') %}

{% set criteria = craft.categories('roles').search(filterSearch).limit(pageLimit) %}
{% if criteria %}{% paginate criteria as pageInfo, roleCategories %}{% endif %}

{% block content %}
<section class="list">
    <div class="page-header">
        <h2>Roles</h2>
    </div>
    {% include '_includes/filter' with{filterDays:false} %}
    {% if roleCategories is defined and roleCategories|length %}
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for role in roleCategories %}
                <tr class="item">
                    <th>{{ role.id }}</th>
                    <th>{{ role.title }}</th>
                    <th>
                        <a href="/management/roles/edit/{{ role.id }}">edit</a> |
                        <a class="action" href="#" data-action="lantra/categories/deleteCategory" data-id="{{ role.id }}">delete</a>
                    </th>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% include '_includes/pagelinks' with {pageInfo:pageInfo} %}
    {% else %}
        <div class="table-actions">
            <h4>There are no roles to display.</h4>
        </div>
    {% endif %}
    <div class="table-actions freetext-procedure">
        <a href="/management/roles/new">Create role</a>
    </div>
</section>
{% endblock %}
