{% set currentUserCompany = craft.lantra.userCompany() %}
{% extends "_layout" %}

{% block content %}

    <img src="/assets/img/img-team-management.jpg" width="150" height="150" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
    <h2>{{ currentUser.fullName }}</h2>
    <div class="text-muted">{{ currentUserCompany|default('') }}</div>

    <div class="welcome-back"><p class="text-bold">Hello {{ currentUser.firstName }}, welcome back to the Lantra dashboard.</p></div>

    {% include 'includes/_profile' %}
    {% include 'includes/_cpd' %}

    {% if craft.lantra.canManage() %}
        {% include 'includes/_admin' %}
        {% include 'includes/_reporting' %}
    {% endif %}

{% endblock %}
